.btn--black{
    @include button($color-grey, $color-black, 5px, $color-black, $color-blue);
    padding: 5px 10px;
}
.btn--blue{
    @include button($color-white, $color-blue, 40px, $color-black, $color-white);
    padding: 5px 20px;
    font-size: $fs-2;
}
.btn--transparent{
    @include button($color-white, transparent, 40px, $color-black, $color-white);
    padding: 5px 20px;
    font-size: $fs-2;
    border: 1px solid $color-white;
}